*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
height: auto;

}

body{background-color: #EEEEEE;
    display: flex;
    position: relative;
    margin-bottom: 8%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;
}
body section h2.header
{
    text-align: center;
}
/* The Header */
header
{position: relative;
    background-color: #4FBDBA;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
    top: 0px;
    border: 1px;
    border-style: solid;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;

}
header .header-logo-div
{
    left: 100px;
    top: 0;
    width: 100px;
    height: 100%;
}
header .header-logo-div img
{
    background-color: #4FBDBA;
    width: 100%;
    height: 100%;
}
header .header-logo-div .header-logo 
{
 left: auto; 
}
.header-logo{
    width: 200px;
    height: 100px;
}

header .header-name
{
font-family: 'Bangers';
font-size: 64px;
font-weight: bold;   
top: 0%;
}
header .header-name .header-name-white-letter
{
color: rgb(112, 112, 112);
}
header  .header-nav-div
{

right: 100px;
padding:20px !important;
}
header  .header-nav-items 
{
right: 100px;
padding: 10px !important;
    

}
header .header-nav-div .header-nav a.header-nav-items 
{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
color: black;

}
header .header-nav-div .header-nav  a:visited
{
color:rgb(28, 15, 218);

}

header .header-nav-div .header-nav a:hover 
{
color: blueviolet;
}


fieldset.fieldset
{
text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    width:50%;
    padding: 1.5%;

}

input.button{
    width:70px;
    height: 25px;
    text-align: center;
    font-size: large;
}
fieldset.sec-fieldset{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
align-items: baseline;

}

fieldset.sec-fieldset legend{
text-align: center;
    
}
/*The main style */
section#section-emp {
    align-content: space-between;

align-content: flex-start;
    padding: 5%;
    display: inline-block;

}
section#section-emp  div {
    text-align: center;
    text-emphasis-color: white;
padding: 2%;
margin: auto;
margin-left: 1%;
margin-bottom: 1%;

    background-color:#268d62;
    width: max-content;
    height: max-content;
display: inline-block;

}
section#section-emp  div p {

    color: white;
    width: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

section#section-emp  div img {
    background-color:#35858B;
    color: #35858B;
background-attachment:local;
    width: 180px;
    height: 180px;

}
section#section-emp  div img:hover {
    background-attachment: scroll;
transform: scale(1.5);
}








/* The footer style */

footer{
display: flex;

background-color: #4FBDBA;
height: 100px;
    grid-column: 1/5;
        align-items: center;
        border: 1px;
        border-style:solid;
        width: 100%;
        bottom: 0;
        justify-content: space-between;
position:fixed;

align-items: center;
margin-bottom: 0;
}

    footer .footer-logo-div{

        left: 100px;
        top: 0;
        height: 100%;    
        left: 100px;
        top: 0;
        width: 100px;
        height: 95%;
     margin-right: 100px;

    }
    footer .footer-logo-div img{
        background-color: #4FBDBA;
        width: 100%;
    height: 100%;
    }


        footer .footer-nav-div {
            right: 5%;
        margin-right: 3%;
        }
        footer .footer-nav-div .footer-nav
        {
width: auto;
height: auto;
right: 5%;
margin-left: 90px;
       }
    footer .footer-nav-div .footer-nav  a  img{
width: 20px;
height: 20px;
    }


@media (max-width:700px) {
    .footer{
        text-align: center;
    }
    
}

