*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
height: auto;

}

body{
    background-color: #EEEEEE;
    display: fixed;
    position: relative;
    text-align: center;
    margin-bottom: 8%;
}
/* The Header */
header
{
position: relative;
background-color: #4FBDBA;
height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
margin-bottom: 2%;

    top: 0px;
    border: 1px;
    border-style:solid;

}
header .header-logo-div
{
    left: 100px;
    top: 0;
    width: 100px;
    height: 100%;
}
header .header-logo-div img
{
    background-color: #4FBDBA;
    width: 100%;
    height: 100%;
}
header .header-logo-div .header-logo 
{
 left: auto; 
}
.header-logo{
    width: 200px;
    height: 100px;
}

header .header-name
{
 font-family: 'Bangers';
 font-size: 64px;
 font-weight: bold;   
top: 0%;
}
header .header-name .header-name-white-letter
{
color: white;
}
header  .header-nav-div
{

right: 100px;
padding:20px !important;
}
header  .header-nav-items 
{
right: 100px;
padding: 10px !important;
    

}
header .header-nav-div .header-nav a.header-nav-items 
{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;
color: black;

}
header .header-nav-div .header-nav  a:visited
{
color:rgb(28, 15, 218);

}

header .header-nav-div .header-nav a:hover 
{
color: blueviolet;
}

fieldset
{
    margin-left: 20%;
    margin-right: 20%;
    width:auto;
    align-items: center;
    align-self: center;
    padding: 5%;
}
/*The main style */

section#section-emp  div {
    padding: 15px;
    text-emphasis-color: white;

    margin-top: 20px;
    margin-left: 25%;    
    padding: auto;
    align-self: center;
    align-content: center;
    background-color:#35858B;
    width: 450px;
    height: 350px;
}
section#section-emp  div p {

    color: white;
    width: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

section#section-emp  div img {
    background-color:#35858B;
background-attachment:fixed;
    width: 200px;
    height: 200px;

}
section#section-emp  div img:hover {
    background-attachment: scroll;
transform: scale(1.5);
}








/* The footer style */

footer{
display: flex;

background-color: #4FBDBA;
height: 100px;
    grid-column: 1/5;
        align-items: center;
        border: 1px;
        border-style:solid;
        width: 100%;
        bottom: 0;
        justify-content: space-between;
position:fixed;

align-items: center;
margin-bottom: 0;
}

    footer .footer-logo-div{

        left: 100px;
        top: 0;
        height: 100%;    
        left: 100px;
        top: 0;
        width: 100px;
        height: 95%;
     margin-right: 100px;

    }
    footer .footer-logo-div img{
        background-color: #4FBDBA;
        width: 100%;
    height: 100%;
    }


        footer .footer-nav-div {
            right: 5%;
        margin-right: 3%;
        }
        footer .footer-nav-div .footer-nav
        {
width: auto;
height: auto;
right: 5%;
margin-left: 90px;
       }
    footer .footer-nav-div .footer-nav  a  img{
width: 20px;
height: 20px;
    }


@media (max-width:700px) {
    .footer{
        text-align: center;
    }
    
}

